<div class="sidebar-container" ng-controller='sidebarCtrl'>
    <div class="sidebar-search">
        <div class="col-lg-10">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="input url" ng-model='newUrl'>
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
            </div>
            
        </div>
    </div>

    <div class="sidebar-url-list">


    </div>
</div>
