<div class="sidebar-container" ng-controller='sidebarCtrl'>
    <div class="sidebar-search">
        <div class="col-lg-10">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="input url" ng-model='newUrl'>
                <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="addUrl(newUrl)">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
            </div>
            
        </div>
    </div>

<div class="sidebar-url-list">

        <ul class="nav masthead-nav">
            <li ng-repeat="url in urls |orderBy:'-id'" ng-class="{active: $path() == '/'}">
                <div class="btn btn-default sidebar-rss-item"
                     ng-class="{'selected': url.selected}"
                     role="button">
                    <span 
                        class="sidebar-rss-link col-xs-10" ng-click="selectUrl(url.id)">
                        <a class="col-xs-12" role="button">
                            {{url.value}} 
                        </a>
                    </span>
                   <div class='sidebar-xbutton col-xs-2' ng-click='removeUrl(url)'>X</div>
                </div>
            </li>
          </ul>
    </div>
</div>
